<div class="sidebar-content collection">
    {% for article in articles %}
    
        <article class="collection-item">
            
            <h5 class="headline"><a href="{{article.slug}}">{{article.headline}}</a></h5>
            <div class="excerpt bread-text">{% autoescape false %}{{article.body}}{% endautoescape %}</div>
            <div class="post-info">
                <span class="author"><i class="material-icons">person</i>{{article.author}}</span>
                <span class="time"><i class="material-icons">schedule</i>{{article.date}}</span>
            </div>
            
        </article>
    
    {% endfor %}
</div>