<!DOCTYPE html>

<html>

	<head>

		<title>Admin</title>
		<link rel='stylesheet' href='/css/style.css' media="screen,projection">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Sans+Pro:300,400,600,700">
		<meta name="viewport" content="width=device-width initial-scale=1"user-scalable="no">
	
	</head>
	
	<body class="admin">
		
		{% include "partials/menu.html" %}
		
		{% include "partials/post-center.html" %}
		
		<script type="text/javascript"> var article_user = '{{user.displayname}}';</script>
		
	    <script type='text/javascript' src='/js/jquery.min.js'></script>
		<script type='text/javascript' src='/js/materialize.min.js'></script>
		<script type='text/javascript' src='/js/init.js'></script>
		<script type='text/javascript' src='/js/moment.js'></script>
		<script type='text/javascript' src='/js/markdown.js'></script>
		<script type='text/javascript' src='/js/swig.min.js'></script>
		<script type='text/javascript' src='/js/admin.js'></script>
	</body>

</html>