#nav {
    z-index: 1000;
    display: table;
    min-height: 84px;
    text-align: center;

    @media #{$medium-and-down} {
        min-height: 0;
        height: 48px;
        line-height: 48px;
    }

    .nav-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        text-align: left;
        display: table;
        width: 100%;
        background-color: white;

        #top-line {
            display: table;
            width: 100%;
            .brand-logo {
                font-size: 2rem;
            }
            #top-nav {
                float: right;
            }
            @media #{$medium-and-down} {
                a.button-collapse {
                    height: 48px;
                }
            }
        }

        #main-nav {
            float: left;
            li {
                position: relative;
                padding: 0 0.5rem;
                a {
                    font-size: 1.1rem;
                    padding: 0 1.1rem;
                }
                span {
                    height: auto;
                    display: inline-block;
                    vertical-align: text-bottom;
                    line-height: 1.5rem;
                    font-size: 1.75rem;
                    margin: 0 0.4rem -0.1rem 0;
                }
                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    @include transform(translateY(-20%));
                    @include transition(transform 0.25s ease-out);
                    li {
                        width: 100%;
                        float: left;
                        background-color: white;
                        a {
                            width: 100%;
                            white-space: nowrap;
                        }
                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                }
            }
            li:hover {
                a {
                    color: #222;
                }
                ul {
                    @include transform(translateY(0%));
                    @include animation(slideIn 0.25s forwards);
                }
            }
            li.active {
                background-color: white;
                > a {
                    font-weight: bold;
                    @include box-shadow(inset 0px -3px 0px color("blue","lighten-2"));
                }
                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}
.navbar-fixed {
  position: fixed;
  z-index: 998;
  top: 0;
  width: 100%;
}
@media #{$medium-and-down} {
    .navbar-fixed {
        height: 48px;
    }
}

/* Animations */
@include keyframes(slideIn){
    0% {
        height: 0;
        opacity: 0;
    }
    1% {
        height: auto;
        opacity: 0;
    }
    100% {
        height: auto;
        opacity: 1;
    }
}
