<!DOCTYPE html>

<html>

	<head>

		<title>Blogging</title>
		<link rel='stylesheet' href='/stylesheets/css/style-landing.css' >
		<meta name="viewport" content="width=device-width initial-scale=1" >

	</head>

	<body id="register">

		<h1>Register</h1>

		<p>Register for a great Blogging experience!</p>

		<form role="form" action="/register" method="post">

			<label for="username">Username</label>
			<input id="username" type="text", name="username", placeholder="Enter Username" required>
			<label for="password">Password</label>
			<input id="password" type="password", name="password", placeholder="Password" required>
			<button type="submit" >Submit</button>

		</form>
		<img class="pixel-tracker" src="/pixel/pageview/register/{{sessionID}}"/>
	<body>

</html>
